@import '../../../colors';

::ng-deep {
  .mat-tab-header {
    border: none !important;

    .mat-tab-link {
      min-width: 600px !important;

      &.mat-tab-label-active {
        opacity: 1 !important;
        color: $colorPrimary !important;
      }
    }

    .mat-ink-bar {
      background-color: $colorPrimary !important;
    }
  }
}
