@import '../../../colors';

::ng-deep {
  .mat-tab-header {
    border: none !important;
  }

  .mat-tab-label {
    min-width: 600px !important;
    &-active {
      color: $colorPrimary !important;
    }
  }

  .mat-ink-bar {
    background-color: $colorPrimary !important;
    height: 3px !important;
  }
}
