@import '../../../../common-scss/colors';

::ng-deep {
  .options-menu {
    &_button {
      width: 42px;
      height: 42px;
      margin: 2px 10px;
      border-radius: 50%;
      outline: none;
      border: none;
      background-color: $colorPrimary;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .mat-menu-panel {
    min-width: 180px !important;
    min-height: 44px !important;

    .mat-menu-content {
      text-align: center;
    }
  }
}
