// basic mixins

@mixin font($family: 'Open Sans', $size: 1.4rem, $weight: normal, $style: normal, $spacing: 0) {
  font-family: $family, 'Verdana', sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $spacing;
}

// custom pages

@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .header {
    background: mat-color($primary);
    color: mat-color($accent);
  }
}

@mixin custom-components-theme($theme) {
  @include header-theme($theme);
}

